@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #fff;
  min-height: 100dvh;
  text-wrap: nowrap;
}
ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 20px;
}
.text-field p {
  font-size: 17px;
}
.text-field ul {
  font-size: 16px;
  margin-left: 49px;
}
.text-field ol {
  font-size: 19px;
}
